.vault__nav__button {
  text-transform: uppercase;
  height: 100%;
  width: 50px;
  border-radius: 18px 0 0 18px;
  background-color: hsl(var(--primary-clr));
  border-block: var(--border);
  border-left: var(--border);
  border-right: 0;
  transition: background-color 0.1s;
}

.vault__nav__button span {
  color: hsl(var(--accent-clr));
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  writing-mode: vertical-rl;
  scale: -1;
}

.vault__inactive__nav__button {
  border-right: var(--border);
  background-color: hsla(235, 24%, 17%);
}

@media (hover: hover) {
  .vault__nav__button:hover:is(.vault__inactive__nav__button) {
    background-color: hsl(var(--primary-clr), 0.8);
  }
}

.vault__nav__button:active:is(.vault__inactive__nav__button) {
  background-color: hsl(var(--primary-clr), 0.6);
}
